<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.j1j2.jposmvvm">

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".JPOSDebugApplication"
        tools:replace="android:name" />

</manifest>